/************************************
*
*   Indigo          : #3f51b5
*   Indigo (dark)   : #303f9f
*   Light Blue      : #c5cae9
*   White           : #fff
*   Pink            : #ff4081
*   Gray (dark)     : #212121
*   Gray (medium)   : #727272
*   Gray (light)    : #b6b6b6
*
************************************/


/***********************************
*           Base
************************************/

body{
    color: #212121;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h5{
    margin-bottom: 5px;
    margin-top: 0;
    text-align: center;
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    
}

p{
    
}

a{
  color: #ff4081;
}

a:hover,
a:active,
a:focus{
    color: #212121;
    transition: 0.2s ease-in-out;
}

/***********************************
*           Header
************************************/

.hero{
    background-image: url('../img/bg/bg-big.JPG');
    
    height: 100vh;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-text{
    font-size: 210px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid;
}

.hero-nav-item{
    display: inline;
    color: #ffffff;
    font-size: 56px;
    margin: 0 2px 0 2px;
    text-transform: uppercase;
}

.nav-item{
    color: #ffffff;
    text-decoration: none;
}

.nav-item:hover{
    color: #9f9f9f;
    transition: 0.2s ease-in-out;
}

a:active,
a:focus{
    color: #ffffff;
    transition: 0.2s ease-in-out;
}

/***********************************
*           Nav
************************************/

.base-nav{
    background-color: rgb(158, 207, 255);
    text-align: center;
    height: 45px;
    margin-bottom: 50px;
}

.base-nav-item{
    margin: 0 10px 0 10px;
    display: inline;
    font-size: 28px;
    text-transform: uppercase;
}

.a-nav-item{
    color: #000;
    text-decoration: none;

}
.a-nav-item:hover{
    color: #535353;
}

.navbar-fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
}
/***********************************
*           Sections
************************************/


section:nth-child(even) {
    background: #eaeaea;
    border-bottom: 1px solid inherit;
    border-top: 1px solid inherit;
}

section{
    margin-bottom: 25px;
    min-height: 250px;
}


/***********************************
*           Content
************************************/

.container-main{
    max-width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 1140px) {
    .container-main{
        max-width: 100%;
        margin: 0 auto; 
    }
    
    .hero-nav-item{
        font-size: 36px;
    }
}

/***********************************
*           about me
************************************/

.about{
    margin-top: 95px;
}

.profile-pic{
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    
    border-radius: 50%;    
}




/***********************************
*           about me
************************************/


.badge-pic{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: 10px;
    float: left;
    
}

.badges-section p{
    margin-top: 35px;
    margin-left: 170px;
    margin-right: 10px;
}























